@model IEnumerable<LittleWoodshopDB.Order>

@{
    ViewBag.Title = "Index";
}
<div class="card">
    <h2 class="card-header">Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr class="card-header">
            <th>
                @Html.DisplayNameFor(model => model.customer.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Downpayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidinFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="card-footer">
                <td>
                    @Html.DisplayFor(modelItem => item.customer.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Downpayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidinFull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>
